@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto:wght@900&display=swap");
::-webkit-scrollbar {
  width: 0px;
  background: #7a7a7a;
}

::-webkit-scrollbar-thumb {
  width: 0px;
  background: #e23a3a;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  user-select: none;
}

body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  color: #181717;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.alternative-title {
  display: none;
}

.background-image1 {
  width: 100%;
  height: 39em;
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  background-position: center center;
}

.blur {
  background: rgba(24, 17, 17, 0.219);
  backdrop-filter: blur(6px);
  height: 39em;
  width: 100%;
  z-index: 2;
}

.blur .slogan {
  color: #ffffff;
  font-size: 4.2em;
  padding-left: 18%;
  padding-right: 30%;
}

.core-header {
  z-index: 10;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.core-header h2 {
  padding-left: 5%;
  font-size: 2.5em;
  width: 40%;
  color: #ffffff;
  margin: auto;
}

.core-header .core-header__nav {
  width: 35%;
}

.core-header .core-header__nav .nav__linklist {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.core-header .core-header__nav .nav__linklist .nav__linklist__element {
  width: 31%;
  height: 100%;
  display: flex;
  align-items: center;
}

.core-header .core-header__nav .nav__linklist .nav__linklist__element .link {
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.core-header .core-header__nav .nav__linklist .nav__linklist__element .link:hover {
  font-size: 120%;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1.7px solid #f3f3f3;
  border-top: 1.7px solid #f3f3f3;
}

.about-us {
  background: white;
  width: 100%;
  display: flex;
}

.about-us .about-us__svgimage {
  background-image: url("../images/gamer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  width: 80%;
  height: 50%;
}

.about-us .about-us__textholder .about-us__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.1em;
  font-weight: 900;
  padding-bottom: 5%;
}

.about-us .about-us__textholder .about-us__text {
  font-size: 1.15em;
  color: #414141;
  line-height: 140%;
}

.about-us .about-us__textholder .about-us__list {
  list-style: none;
}

.about-us .about-us__textholder .about-us__list li {
  font-size: 1.04em;
  padding-bottom: 1%;
}

.about-us .about-us__textholder .about-us__list li img {
  margin-right: 1%;
}

.our_results {
  width: 100%;
  height: 20em;
  background: linear-gradient(-45deg, #a1a1a1 25%, #b9b9b9 25%, #b9b9b9 50%, #dfdfdf 50%, #dfdfdf 75%, #f3f3f3 75%);
  background-size: 150% 150%;
  animation: div_background1 15s ease-in-out infinite;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.our_results .result {
  text-align: center;
}

.our_results .result .result__number {
  font-weight: bolder;
  color: #e02626;
}

.our-team {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.our-team .our-team__title {
  padding-top: 1%;
  width: 80%;
}

.our-team .our-team__title h2 {
  width: 100%;
  text-align: center;
}

.our-team .our-team__title p {
  width: 100%;
  text-align: center;
}

.our-team .our-team__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-team .our-team__images .employee1 .employee_img {
  background-image: url("../images/our_employee1.jpg");
}

.our-team .our-team__images .employee2 .employee_img {
  background-image: url("../images/our_employee2.jpg");
}

.our-team .our-team__images .employee3 .employee_img {
  background-image: url("../images/our_employee3.jpg");
}

.our-team .our-team__images .our-team__employee {
  width: 90%;
  height: 32%;
  padding-bottom: 2%;
}

.our-team .our-team__images .our-team__employee .employee_img {
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.our-team .our-team__images .our-team__employee .employee_img .employee_text h3 {
  font-size: 1.6em;
  padding-bottom: 2%;
}

.offer {
  background: #c7c7c7;
  width: 100%;
  height: 25em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.offer .offer_course {
  height: 80%;
  border-radius: 10px;
  background: #adadad;
}

.offer .offer_course .offer_course_image {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}

.offer .offer_course .offer_course_text {
  width: 100%;
  height: 50%;
  padding-left: 3%;
  padding-top: 6%;
}

.offer .offer_course .offer_course_text h3 {
  color: #0f0f0e;
  font-size: 1.4em;
  margin-bottom: 5%;
}

.offer .offer_course .offer_course_text p {
  font-size: 1.07em;
}

.offer .offer_course .offer_course_text .course_link2 {
  transition: 0.3s;
}

.offer .offer_course .offer_course_text .course_link2:hover {
  font-weight: 900;
  cursor: pointer;
}

.offer .offer_course .offer_course_text .course_link {
  display: none;
}

.offer .fortnite {
  background-color: white;
}

.offer .fortnite .offer_course_image {
  background-image: url("../images/oferta/fortnite.jpg");
  background-size: cover;
  background-position: center left;
}

.offer .minecraft {
  background-color: white;
}

.offer .minecraft .offer_course_image {
  background-image: url("../images/oferta/minecraft.jpg");
  background-size: cover;
  background-position: center bottom;
}

.offer .csgo {
  background-color: white;
}

.offer .csgo .offer_course_image {
  background-image: url("../images/oferta/csgo.jpg");
  background-size: cover;
  background-position: center left;
}

.offer_more {
  display: none;
  width: 100%;
  background-color: #dddddd;
}

.offer_more--shown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.offer_more--shown .offer_more_text h2 {
  font-size: 1.5em;
  padding: 0;
  padding-bottom: 5%;
  margin: 0;
}

.offer_more--shown .offer_more_text ul {
  list-style: none;
}

.offer_more--shown .offer_more_text ul li {
  padding-bottom: 1%;
}

.offer_more--shown .offer_more_text p {
  margin-top: 5%;
}

.offer_more--shown .offer_more_text footer {
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.offer_more--fortnite .offer_more_image {
  border-radius: 10px;
  background-image: url("../images/oferta/fortnite2.jpg");
  background-size: cover;
  background-position: center center;
}

.offer_more--minecraft .offer_more_image {
  border-radius: 10px;
  background-image: url("../images/oferta/minecraft2.jpg");
  background-size: cover;
  background-position: center center;
}

.offer_more--csgo .offer_more_image {
  border-radius: 10px;
  background-image: url("../images/oferta/csgo2.jpg");
  background-size: cover;
  background-position: center center;
}

.partners {
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.partners .partners__title {
  height: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .partners__title h2 {
  font-size: 2em;
}

.partners .slider {
  width: 90%;
  height: 78%;
  position: relative;
}

.partners .slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
}

.partners .slider__overlay img {
  cursor: pointer;
}

.partners .slider__content {
  display: grid;
  grid-auto-columns: calc(100% / 3);
  grid-auto-flow: column;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}

.partners .slider__content::-webkit-scrollbar {
  display: none;
}

.partners .slider__element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .slider__element .sneak {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.partners .slider__element .sneak .orange {
  font-size: 1em;
  color: #ff5e00;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.partners .slider__element .niko {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.partners .slider__element .anime {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.partners .slider__element .anime span {
  font-size: 1em;
  color: #ff70e0;
}

.footer {
  width: 100%;
  background: #3a3a3a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer .footer__upside {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .footer__upside .footer__logo {
  background: url("../images/logo450.png");
  width: 25%;
  height: 100%;
  border-right: 0.7px solid #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .footer__upside .footer__company {
  border-right: 0.7px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer__upside .footer__company h3 {
  text-align: center;
  font-size: 1.8em;
}

.footer .footer__upside .footer__company p {
  text-align: center;
}

.footer .footer__upside .footer__links1 {
  display: flex;
  align-items: center;
}

.footer .footer__upside .footer__links1 a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

.footer .footer__upside .footer__links1 a p:hover {
  color: #e02626;
}

.footer .footer__upside .footer__newsletter form {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .footer__upside .footer__newsletter form .footer__newsletter__email {
  border-radius: 5px;
  border: none;
  font-size: 0.7em;
  font-weight: 600;
  padding-left: 5%;
  background: #9c9c9c;
}

.footer .footer__upside .footer__newsletter form .footer__newsletter__submit {
  height: 18%;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 0.7em;
  font-weight: 900;
  color: #646363;
  transition: 0.3s;
  cursor: pointer;
}

.footer .footer__upside .footer__newsletter form .footer__newsletter__submit:hover {
  background-color: #92d445;
  color: #ffffff;
}

.footer .footer__downside {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup__container {
  width: 100%;
  height: 100%;
  background: rgba(190, 190, 190, 0.603);
  position: fixed;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 30;
  bottom: 0;
}

.popup__container .popup {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.popup__container .popup__cross {
  align-self: flex-end;
  margin-right: 3%;
  cursor: pointer;
}

.popup__container .popup__check {
  align-self: center;
  height: 19%;
}

.popup__container .popup__title {
  padding-top: 2%;
  padding-bottom: 2.5%;
  align-self: center;
  height: 10%;
  text-align: center;
}

.popup__container .popup__text {
  align-self: center;
  height: 10%;
  width: 80%;
  font-size: 0.9em;
  text-align: center;
}

.popup__container .popup div {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup__container .popup div .popup__button {
  height: 50%;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #8a8a8a;
  font-size: 0.7em;
  font-weight: 900;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.popup__container .popup div .popup__button:hover {
  background-color: #92d445;
  color: #ffffff;
}

@keyframes div_background1 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*# sourceMappingURL=main.css.map */