@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto:wght@900&display=swap");
@media (min-width: 451px) and (max-width: 769px) {
  .background-image1 {
    width: 100%;
    height: 25em;
    background-image: url("../images/pic1.jpg");
    background-size: cover;
    background-position: center center;
  }
  .blur {
    background: rgba(24, 17, 17, 0.219);
    backdrop-filter: blur(6px);
    height: 25em;
    width: 100%;
    z-index: 2;
  }
  .blur .alternative-title {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 2.8em;
    color: #ffffff;
  }
  .blur .slogan {
    display: none;
  }
  .core-header h2 {
    display: none;
  }
  .core-header .core-header__nav {
    width: 90%;
  }
  .core-header .core-header__nav .nav__linklist {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
  }
  .core-header .core-header__nav .nav__linklist__element {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .core-header .core-header__nav .nav__linklist__element .link {
    color: #ffffff;
    width: 100%;
    font-size: 1.2em;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.6s;
  }
  .core-header .core-header__nav .nav__linklist__element .link:hover {
    font-size: 120%;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1.7px solid #f3f3f3;
    border-top: 1.7px solid #f3f3f3;
  }
  .about-us {
    height: 40em;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
  .about-us .about-us__svgimage {
    width: 80%;
    height: 45%;
  }
  .about-us .about-us__textholder {
    width: 80%;
    height: 47%;
  }
  .about-us .about-us__textholder .about-us__list li {
    font-size: 1em;
  }
  .our_results {
    height: 32em;
  }
  .our_results .result {
    width: 100%;
  }
  .our_results .result .result__number {
    font-size: 3.3em;
  }
  .our_results .result .result__text {
    font-size: 1.5em;
  }
  .our-team {
    height: 120em;
  }
  .our-team .our-team__title {
    height: 5%;
  }
  .our-team .our-team__title h2 {
    font-size: 2.1em;
  }
  .our-team .our-team__title p {
    font-size: 1.2em;
  }
  .our-team .our-team__images {
    width: 90%;
    height: 91%;
    flex-direction: column;
  }
  .our-team .our-team__images .our-team__employee {
    width: 90%;
    height: 32%;
  }
  .our-team .our-team__images .our-team__employee .employee_img {
    width: 100%;
    height: 70%;
  }
  .our-team .our-team__images .our-team__employee .employee_text {
    height: 29%;
    padding-top: 2%;
  }
  .our-team .our-team__images .our-team__employee .employee_text h3 {
    font-size: 1.7em;
    padding-bottom: 2%;
  }
  .our-team .our-team__images .our-team__employee .employee_text p {
    font-size: 1.2em;
  }
  .offer {
    height: 90em;
    flex-direction: column;
  }
  .offer .offer_course {
    height: 27%;
    width: 80%;
  }
  .offer .offer_course .offer_course_image {
    height: 55%;
  }
  .offer .offer_course .offer_course_text {
    height: 45%;
    text-decoration: none;
  }
  .offer .offer_course .offer_course_text .course_link {
    display: block;
  }
  .offer .offer_course .offer_course_text .course_link a {
    text-decoration: none;
    color: #000;
  }
  .offer .offer_course .offer_course_text .course_link2 {
    display: none;
  }
  .offer .fortnite .offer_course_image {
    background-position: center left;
  }
  .offer .minecraft .offer_course_image {
    background-position: center bottom;
  }
  .offer .csgo .offer_course_image {
    background-position: center left;
  }
  .offer_more--shown {
    height: 40em;
    flex-direction: column-reverse;
  }
  .offer_more--shown .offer_more_image {
    height: 40%;
    width: 90%;
  }
  .offer_more--shown .offer_more_text {
    height: 40%;
    width: 90%;
  }
  .offer_more--shown .offer_more_text h2 {
    font-size: 1.8em;
  }
  .offer_more--shown .offer_more_text ul li {
    font-size: 1.11em;
  }
  .offer_more--shown .offer_more_text p {
    font-size: 1.1em;
    padding-top: 7%;
  }
  .partners .slider__overlay {
    padding: 0 2px;
  }
  .partners .slider__content {
    grid-auto-columns: calc(100% / 2);
  }
  .partners .slider__element .sneak {
    font-size: 1.5em;
  }
  .partners .slider__element .yeti-logo {
    height: 28%;
  }
  .partners .slider__element .cola-logo {
    height: 22%;
  }
  .partners .slider__element .niko {
    font-size: 1.5em;
  }
  .partners .slider__element .anime {
    font-size: 1.5em;
  }
  .contact {
    width: 100%;
    height: 40em;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contact .nothing {
    width: 13%;
  }
  .contact .contact__text {
    width: 80%;
    height: 50%;
  }
  .contact .contact__text .contact__title h3 {
    font-size: 3em;
    font-weight: 900;
  }
  .contact .contact__text .contact__title p {
    font-size: 1.1em;
    font-weight: 500;
  }
  .contact .contact__text .address h4,
  .contact .contact__text .phone h4,
  .contact .contact__text .email h4 {
    font-size: 1.4em;
  }
  .contact .contact__text .address p,
  .contact .contact__text .phone p,
  .contact .contact__text .email p {
    font-size: 1.1em;
  }
  .contact .contact__map {
    width: 80%;
    height: 46%;
  }
  .contact .contact__map .mapa {
    width: 100%;
    height: 100%;
  }
  .footer {
    height: 24em;
  }
  .footer .footer__upside {
    flex-direction: column;
    width: 95%;
    height: 100%;
  }
  .footer .footer__upside .footer__logo {
    display: none;
  }
  .footer .footer__upside .footer__company {
    width: 100%;
    height: 35%;
    border-bottom: 0.7px solid #ffffff;
    border-right: none;
  }
  .footer .footer__upside .footer__links1 {
    width: 100%;
    height: 20%;
    justify-content: center;
    font-size: 1em;
    border-bottom: 0.7px solid #ffffff;
  }
  .footer .footer__upside .footer__links1 a {
    height: 100%;
    width: 23%;
  }
  .footer .footer__upside .footer__newsletter {
    width: 100%;
    height: 33%;
    border-bottom: 0.7px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
  }
  .footer .footer__upside .footer__newsletter form {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer .footer__upside .footer__newsletter form legend {
    width: 100%;
    text-align: center;
  }
  .footer .footer__upside .footer__newsletter form .footer__newsletter__email {
    height: 35%;
    width: 42%;
  }
  .footer .footer__upside .footer__newsletter form .footer__newsletter__submit {
    width: 42%;
    height: 35%;
  }
  .footer .footer__downside {
    padding-top: 2%;
    padding-bottom: 4%;
    width: 70%;
    height: 20%;
    flex-direction: column;
  }
  .footer .footer__downside ._jeden {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
  }
  .footer .footer__downside ._dwa {
    width: 100%;
    text-align: center;
  }
  .popup {
    width: 60%;
    height: 60%;
  }
}
/*# sourceMappingURL=min451max769.css.map */