@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto:wght@900&display=swap");
@media (min-width: 770px) and (max-width: 1124px) {
  .background-image1 {
    width: 100%;
    height: 30em;
    background-image: url("../images/pic1.jpg");
    background-size: cover;
    background-position: center center;
  }
  .blur {
    background: rgba(24, 17, 17, 0.219);
    backdrop-filter: blur(6px);
    height: 30em;
    width: 100%;
    z-index: 2;
  }
  .blur .slogan {
    font-size: 3.5em;
  }
  .core-header__nav {
    padding-right: 5%;
  }
  .about-us {
    height: 38em;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
  .about-us .about-us__svgimage {
    width: 80%;
    height: 50%;
  }
  .about-us .about-us__textholder {
    width: 80%;
    height: 47%;
  }
  .about-us .about-us__textholder .about-us__list li {
    font-size: 1.04em;
  }
  .our_results {
    height: 20em;
  }
  .our_results .result {
    width: 50%;
  }
  .our_results .result .result__number {
    font-size: 3.3em;
  }
  .our_results .result .result__text {
    font-size: 1.5em;
  }
  .our-team {
    height: 35em;
  }
  .our-team .our-team__title {
    padding-top: 1%;
    width: 80%;
    height: 16%;
  }
  .our-team .our-team__title h2 {
    font-size: 2.1em;
    width: 100%;
    text-align: center;
  }
  .our-team .our-team__title p {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
  }
  .our-team .our-team__images {
    width: 90%;
    height: 85%;
  }
  .our-team .our-team__images .our-team__employee {
    width: 30%;
    height: 92%;
  }
  .our-team .our-team__images .our-team__employee .employee_img {
    width: 100%;
    height: 55%;
  }
  .our-team .our-team__images .our-team__employee .employee_text {
    height: 32%;
    padding-top: 2%;
  }
  .our-team .our-team__images .our-team__employee .employee_text h3 {
    font-size: 1.6em;
  }
  .our-team .our-team__images .our-team__employee .employee_text p {
    font-size: 1.05em;
  }
  .offer {
    height: 25em;
  }
  .offer .offer_course {
    height: 80%;
    width: 26%;
  }
  .offer .offer_course .offer_course_image {
    height: 50%;
  }
  .offer .offer_course .offer_course_text {
    height: 50%;
  }
  .offer .fortnite .offer_course_image {
    background-position: center left;
  }
  .offer .minecraft .offer_course_image {
    background-position: center bottom;
  }
  .offer .csgo .offer_course_image {
    background-position: center left;
  }
  .offer_more--shown {
    height: 25em;
  }
  .offer_more--shown .offer_more_image {
    height: 70%;
    width: 38%;
  }
  .offer_more--shown .offer_more_text {
    height: 70%;
    width: 48%;
  }
  .offer_more--shown .offer_more_text h2 {
    font-size: 2em;
  }
  .offer_more--shown .offer_more_text ul li {
    font-size: 1.1em;
  }
  .offer_more--shown .offer_more_text p {
    font-size: 1.1em;
    padding-top: 2%;
  }
  .partners .slider__overlay {
    padding: 0 1px;
  }
  .partners .slider__content {
    grid-auto-columns: calc(100% / 3);
  }
  .partners .slider__element .sneak {
    font-size: 1.7em;
  }
  .partners .slider__element .yeti-logo {
    height: 30%;
  }
  .partners .slider__element .cola-logo {
    height: 25%;
  }
  .partners .slider__element .niko {
    font-size: 1.7em;
  }
  .partners .slider__element .anime {
    font-size: 1.7em;
  }
  .contact {
    width: 100%;
    height: 29em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .contact .contact__text {
    width: 31%;
    height: 90%;
  }
  .contact .contact__text .contact__title h3 {
    font-size: 3em;
    font-weight: 900;
  }
  .contact .contact__text .contact__title p {
    font-size: 1.1em;
    font-weight: 500;
  }
  .contact .contact__text .address h4,
  .contact .contact__text .phone h4,
  .contact .contact__text .email h4 {
    font-size: 1.4em;
  }
  .contact .contact__text .address p,
  .contact .contact__text .phone p,
  .contact .contact__text .email p {
    font-size: 1.1em;
  }
  .contact .contact__map {
    width: 50%;
    height: 90%;
  }
  .contact .contact__map .mapa {
    width: 100%;
    height: 100%;
  }
  .footer {
    height: 20em;
  }
  .footer .footer__upside {
    width: 98%;
    height: 60%;
  }
  .footer .footer__upside .footer__logo {
    display: none;
  }
  .footer .footer__upside .footer__company {
    width: 30%;
    height: 100%;
  }
  .footer .footer__upside .footer__links1 {
    width: 30%;
    height: 100%;
    font-size: 1.3em;
    flex-direction: column;
    border-right: 0.7px solid #ffffff;
  }
  .footer .footer__upside .footer__links1 a {
    height: 24%;
  }
  .footer .footer__upside .footer__newsletter {
    width: 30%;
    height: 100%;
  }
  .footer .footer__upside .footer__newsletter form {
    width: 90%;
    flex-direction: column;
  }
  .footer .footer__upside .footer__newsletter form legend {
    height: 40%;
    width: 80%;
  }
  .footer .footer__upside .footer__newsletter form .footer__newsletter__email {
    height: 18%;
    width: 80%;
  }
  .footer .footer__upside .footer__newsletter form .footer__newsletter__submit {
    height: 18%;
    width: 80%;
  }
  .footer .footer__downside {
    width: 98%;
    height: 20%;
    border-top: 0.7px solid #ffffff;
  }
  .footer .footer__downside ._jeden {
    width: 48%;
    text-align: left;
  }
  .footer .footer__downside ._dwa {
    width: 48%;
    text-align: right;
  }
  .popup {
    width: 50%;
    height: 40%;
  }
}
/*# sourceMappingURL=min770max1124.css.map */