@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto:wght@900&display=swap");

$font-stack: "Lato", sans-serif;
$font-color: rgb(24, 23, 23);
$bg-color: #ffffff;
$red-color: rgba(224, 38, 38, 1);
$black-color: rgb(24, 17, 17);

::-webkit-scrollbar {
  width: 0px;
  background: rgb(122, 122, 122);
}

::-webkit-scrollbar-thumb {
  width: 0px;
  background: rgb(226, 58, 58);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  user-select: none;
}

body {
  background-color: $bg-color;
  font-family: $font-stack;
  color: $font-color;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.alternative-title {
  display: none;
}
.background-image1 {
  width: 100%;
  height: 37em;
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  background-position: center center;
}
.blur {
  background: rgba(24, 17, 17, 0.219);
  backdrop-filter: blur(6px);
  height: 37em;
  width: 100%;
  z-index: 2;
  .slogan {
    color: #ffffff;
    font-size: 4.2em;
    padding-left: 18%;
    padding-right: 30%;
  }
}

.core-header {
  z-index: 10;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-around;

  h2 {
    padding-left: 5%;
    font-size: 2.5em;
    width: 40%;
    color: #ffffff;
    margin: auto;
  }
  .core-header__nav {
    width: 35%;

    .nav__linklist {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      justify-items: center;

      .nav__linklist__element {
        width: 31%;
        height: 100%;
        display: flex;
        align-items: center;
        .link {
          color: #ffffff;
          display: block;
          text-align: center;
          text-decoration: none;
          transition: 0.25s;
        }
        .link:hover {
          font-size: 120%;
          color: #ffffff;
          display: block;
          text-align: center;
          text-decoration: none;
          border-bottom: 1.7px solid #f3f3f3;
          border-top: 1.7px solid #f3f3f3;
        }
      }
    }
  }
}

.about-us {
  background: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  .about-us__svgimage {
    background-image: url("../images/gamer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    width: 80%;
    height: 50%;
  }
  .about-us__textholder {
    .about-us__title {
      font-family: "Roboto", sans-serif;
      font-size: 2.1em;
      font-weight: 900;
      padding-bottom: 5%;
    }
    .about-us__text {
      font-size: 1.15em;
      color: #414141;
    }
    .about-us__list {
      list-style: none;
      li {
        font-size: 1.04em;
        padding-bottom: 1%;
        img {
          margin-right: 1%;
        }
      }
    }
  }
}

.our_results {
  width: 100%;
  height: 20em;
  background: linear-gradient(
    -45deg,
    #a1a1a1 25%,
    #b9b9b9 25%,
    #b9b9b9 50%,
    #dfdfdf 50%,
    #dfdfdf 75%,
    #f3f3f3 75%
  );
  background-size: 150% 150%;
  animation: div_background1 15s ease-in-out infinite;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .result {
    text-align: center;
    .result__number {
      font-weight: bolder;
      color: $red-color;
    }
  }
}

.our-team {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .our-team__title {
    padding-top: 1%;
    width: 80%;
    h2 {
      width: 100%;
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }
  .our-team__images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .employee1 {
      .employee_img {
        background-image: url("../images/our_employee1.jpg");
      }
    }
    .employee2 {
      .employee_img {
        background-image: url("../images/our_employee2.jpg");
      }
    }
    .employee3 {
      .employee_img {
        background-image: url("../images/our_employee3.jpg");
      }
    }
    .our-team__employee {
      width: 90%;
      height: 32%;
      padding-bottom: 2%;
      .employee_img {
        width: 100%;
        height: 70%;
        border-radius: 12px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.offer {
  background: rgb(199, 199, 199);
  width: 100%;
  height: 25em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .offer_course {
    height: 80%;
    border-radius: 10px;
    background: rgb(173, 173, 173);
    .offer_course_image {
      width: 100%;
      height: 50%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-size: cover;
    }
    .offer_course_text {
      width: 100%;
      height: 50%;
      padding-left: 3%;
      padding-top: 6%;
      h3 {
        color: rgb(15, 15, 14);
        font-size: 1.4em;
        margin-bottom: 5%;
      }
      p {
        font-size: 1.07em;
      }
      .course_link2 {
        transition: 0.3s;
      }
      .course_link2:hover {
        font-weight: 900;
        cursor: pointer;
      }
      .course_link {
        display: none;
      }
    }
  }
  .fortnite {
    background-color: rgb(255, 255, 255);
    .offer_course_image {
      background-image: url("../images/oferta/fortnite.jpg");
      background-size: cover;
      background-position: center left;
    }
  }
  .minecraft {
    background-color: rgb(255, 255, 255);
    .offer_course_image {
      background-image: url("../images/oferta/minecraft.jpg");
      background-size: cover;
      background-position: center bottom;
    }
  }
  .csgo {
    background-color: rgb(255, 255, 255);
    .offer_course_image {
      background-image: url("../images/oferta/csgo.jpg");
      background-size: cover;
      background-position: center left;
    }
  }
}

.offer_more {
  display: none;
  width: 100%;
  background-color: rgb(221, 221, 221);
  &--shown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .offer_more_text {
      h2 {
        font-size: 1.5em;
        padding: 0;
        padding-bottom: 5%;
        margin: 0;
      }
      ul {
        list-style: none;
        li {
          padding-bottom: 1%;
        }
      }
      p {
        margin-top: 5%;
      }
      footer {
        width: 100%;
        text-align: right;
        cursor: pointer;
      }
    }
  }
  &--fortnite {
    .offer_more_image {
      border-radius: 10px;
      background-image: url("../images/oferta/fortnite2.jpg");
      background-size: cover;
      background-position: center center;
    }
  }
  &--minecraft {
    .offer_more_image {
      border-radius: 10px;
      background-image: url("../images/oferta/minecraft2.jpg");
      background-size: cover;
      background-position: center center;
    }
  }
  &--csgo {
    .offer_more_image {
      border-radius: 10px;
      background-image: url("../images/oferta/csgo2.jpg");
      background-size: cover;
      background-position: center center;
    }
  }
}

.partners {
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .partners__title {
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2em;
    }
  }

  .slider {
    width: 90%;
    height: 78%;
    position: relative;
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 2;
      justify-content: space-between;
      padding: 0 15px;

      img {
        cursor: pointer;
      }
    }

    &__content {
      display: grid;
      grid-auto-columns: calc(100% / 3);
      grid-auto-flow: column;
      overflow-x: scroll;
      width: 100%;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__element {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .sneak {
        font-size: 2em;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        .orange {
          font-size: 1em;
          color: #ff5e00;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
        }
      }
      .niko {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
      }
      .anime {
        font-size: 2em;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        span {
          font-size: 1em;
          color: #ff70e0;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background: #3a3a3a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .footer__upside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer__logo {
      background: url("../images/logo450.png");
      width: 25%;
      height: 100%;
      border-right: 0.7px solid #ffffff;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .footer__company {
      border-right: 0.7px solid #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        text-align: center;
        font-size: 1.8em;
      }
      p {
        text-align: center;
      }
    }
    .footer__links1 {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #ffffff;
        transition: 0.4s;
        display: flex;
        align-items: center;
        p:hover {
          color: $red-color;
        }
      }
    }
    .footer__newsletter {
      form {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer__newsletter__email {
          border-radius: 5px;
          border: none;
          font-size: 0.7em;
          font-weight: 600;
          padding-left: 5%;
          background: rgb(156, 156, 156);
        }
        .footer__newsletter__submit {
          height: 18%;
          width: 80%;
          border-radius: 5px;
          border: none;
          background-color: #fff;
          font-size: 0.7em;
          font-weight: 900;
          color: #646363;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: rgb(146, 212, 69);
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer__downside {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.popup__container {
  width: 100%;
  height: 100%;
  background: rgba(190, 190, 190, 0.603);
  position: fixed;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 30;
  bottom: 0;
  .popup {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &__cross {
      align-self: flex-end;
      margin-right: 3%;
      cursor: pointer;
    }
    &__check {
      align-self: center;
      height: 19%;
    }
    &__title {
      padding-top: 2%;
      padding-bottom: 2.5%;
      align-self: center;
      height: 10%;
      text-align: center;
    }
    &__text {
      align-self: center;
      height: 10%;
      width: 80%;
      font-size: 0.9em;
      text-align: center;
    }
    div {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      .popup__button {
        height: 50%;
        width: 80px;
        border-radius: 5px;
        border: none;
        background-color: rgb(138, 138, 138);
        font-size: 0.7em;
        font-weight: 900;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: rgb(146, 212, 69);
          color: #ffffff;
        }
      }
    }
  }
}

@keyframes div_background1 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
