@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto:wght@900&display=swap");

$font-stack: "Lato", sans-serif;
$font-color: rgb(24, 23, 23);
$bg-color: #ffffff;
$red-color: rgba(224, 38, 38, 1);
$black-color: rgb(24, 17, 17);

@media (min-width: 451px) and (max-width: 769px) {
  .background-image1 {
    width: 100%;
    height: 25em;
    background-image: url("../images/pic1.jpg");
    background-size: cover;
    background-position: center center;
  }
  .blur {
    background: rgba(24, 17, 17, 0.219);
    backdrop-filter: blur(6px);
    height: 25em;
    width: 100%;
    z-index: 2;
    .alternative-title {
      width: 100%;
      text-align: center;
      display: block;
      font-size: 2.8em;
      color: #ffffff;
    }
    .slogan {
      display: none;
    }
  }

  .core-header {
    h2 {
      display: none;
    }
    .core-header__nav {
      width: 90%;
      .nav__linklist {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        &__element {
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          .link {
            color: #ffffff;
            width: 100%;
            font-size: 1.2em;
            display: block;
            text-align: center;
            text-decoration: none;
            transition: 0.6s;
          }
          .link:hover {
            font-size: 120%;
            color: #ffffff;
            display: block;
            text-align: center;
            text-decoration: none;
            border-bottom: 1.7px solid #f3f3f3;
            border-top: 1.7px solid #f3f3f3;
          }
        }
      }
    }
  }

  .about-us {
    height: 40em;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    .about-us__svgimage {
      width: 80%;
      height: 45%;
    }
    .about-us__textholder {
      width: 80%;
      height: 47%;
      .about-us__list {
        li {
          font-size: 1em;
        }
      }
    }
  }

  .our_results {
    height: 32em;
    .result {
      width: 100%;
      .result__number {
        font-size: 3.3em;
      }
      .result__text {
        font-size: 1.5em;
      }
    }
  }

  .our-team {
    height: 120em;
    .our-team__title {
      height: 5%;
      h2 {
        font-size: 2.1em;
      }
      p {
        font-size: 1.2em;
      }
    }
    .our-team__images {
      width: 90%;
      height: 91%;
      flex-direction: column;
      .our-team__employee {
        width: 90%;
        height: 32%;
        .employee_img {
          width: 100%;
          height: 70%;
        }
        .employee_text {
          height: 29%;
          padding-top: 2%;
          h3 {
            font-size: 1.7em;
            padding-bottom: 2%;
          }
          p {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  .offer {
    height: 90em;
    flex-direction: column;
    .offer_course {
      height: 27%;
      width: 80%;
      .offer_course_image {
        height: 55%;
      }
      .offer_course_text {
        height: 45%;
        text-decoration: none;
        .course_link {
          display: block;
          a {
            text-decoration: none;
            color: #000;
          }
        }
        .course_link2 {
          display: none;
        }
      }
    }
    .fortnite {
      .offer_course_image {
        background-position: center left;
      }
    }
    .minecraft {
      .offer_course_image {
        background-position: center bottom;
      }
    }
    .csgo {
      .offer_course_image {
        background-position: center left;
      }
    }
  }

  .offer_more {
    &--shown {
      height: 40em;
      flex-direction: column-reverse;
      .offer_more_image {
        height: 40%;
        width: 90%;
      }
      .offer_more_text {
        height: 40%;
        width: 90%;
        h2 {
          font-size: 1.8em;
        }
        ul {
          li {
            font-size: 1.11em;
          }
        }
        p {
          font-size: 1.1em;
          padding-top: 7%;
        }
      }
    }
  }

  .partners {
    .slider {
      &__overlay {
        padding: 0 2px;
      }

      &__content {
        grid-auto-columns: calc(100% / 2);
      }

      &__element {
        .sneak {
          font-size: 1.5em;
        }
        .yeti-logo {
          height: 28%;
        }
        .cola-logo {
          height: 22%;
        }
        .niko {
          font-size: 1.5em;
        }
        .anime {
          font-size: 1.5em;
        }
      }
    }
  }

  .contact {
    width: 100%;
    height: 40em;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .nothing {
      width: 13%;
    }
    .contact__text {
      width: 80%;
      height: 50%;
      .contact__title {
        h3 {
          font-size: 3em;
          font-weight: 900;
        }
        p {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
      .address,
      .phone,
      .email {
        h4 {
          font-size: 1.4em;
        }
        p {
          font-size: 1.1em;
        }
      }
    }
    .contact__map {
      width: 80%;
      height: 46%;
      .mapa {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    height: 24em;
    .footer__upside {
      flex-direction: column;
      width: 95%;
      height: 100%;
      .footer__logo {
        display: none;
      }
      .footer__company {
        width: 100%;
        height: 35%;
        border-bottom: 0.7px solid #ffffff;
        border-right: none;
      }
      .footer__links1 {
        width: 100%;
        height: 20%;
        justify-content: center;
        font-size: 1em;
        border-bottom: 0.7px solid #ffffff;
        a {
          height: 100%;
          width: 23%;
        }
      }
      .footer__newsletter {
        width: 100%;
        height: 33%;
        border-bottom: 0.7px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2%;
        form {
          width: 100%;
          flex-wrap: wrap;
          legend {
            width: 100%;
            text-align: center;
          }
          .footer__newsletter__email {
            height: 35%;
            width: 42%;
          }
          .footer__newsletter__submit {
            width: 42%;
            height: 35%;
          }
        }
      }
    }

    .footer__downside {
      padding-top: 2%;
      padding-bottom: 4%;
      width: 70%;
      height: 20%;
      flex-direction: column;
      ._jeden {
        width: 100%;
        text-align: center;
        margin-bottom: 1%;
      }
      ._dwa {
        width: 100%;
        text-align: center;
      }
    }
  }

  .popup {
    width: 60%;
    height: 60%;
  }
}
